Source: php-xhprof
Section: php
Priority: optional
Maintainer: Laurent Arnoud <laurent@spkdev.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 9), php5-dev (>= 5.4.1)
Standards-Version: 3.9.3
VCS-Git: git://git.debian.org/collab-maint/php-xhprof.git
VCS-Browser: http://git.debian.org/?p=collab-maint/php-xhprof.git;a=summary
Homepage: http://pecl.php.net/package/xhprof/

Package: php5-xhprof
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, php5-common
Recommends: graphviz
Description: Xhprof module for PHP
 XHGUI is a GUI for the XHProf PHP extension, using a database backend, and
 pretty graphs to make it easy to use and interpret.
 .
 For more info, please visit:
 https://github.com/preinheimer/xhprof

